body {
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: flex;
    overflow-y: hidden;
    background-color: #f9fafb;
    height: 100%;
}

.sidebar {
    display: none;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.375rem;
    background-color: white;
    overflow-y: scroll;
    padding: 0.5rem 0.7rem;
    border: 1px solid #e5e7eb;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
.sidebar h2 {
    font-weight: 800;
    font-size: 1.52rem;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    color: #f0a731;
}
.sidebar h1 {
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.sidebar span {
    display: block;
    border: 1px solid #d1d5db;
    width: 100%;
    margin: 1.7rem 0 1rem;
}

.sidebar a,
.sidebar div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    cursor: pointer;
    padding: 0.4rem 0.5rem;
    border-radius: 0.375rem;
    margin-top: 1rem;
    border: 1px solid #e5e7eb;
    color: #4b5563;
    text-decoration: none;
}

.sidebar a:hover,
.sidebar div:hover {
    background-color: #f0a731;
    color: white;
}

.sidebar a.active {
    background-color: #ffba4b;
    color: white;
}

.sidebar a:hover .icon,
.sidebar div:hover .icon {
    color: white;
}

.sidebar a .icon,
.sidebar div .icon {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

.sidebar a h1,
.sidebar div h1 {
    font-size: 1.125rem;
    font-weight: 600;
}

.main-content {
    background: white;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 50px 20px 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
  
}
.recent-promotions {
    width: 100%;
    padding: 30px 0px;
}
table {
    width: 100%;
    border-collapse: collapse;

}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/** Admin Manage Page **/
.manage-staffs {
    background: white;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
  
}

/** Admin Add Staff Page **/
.main-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: start;
}
form {
    width: 100%;
}
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    color: #555;
}

input, select {
    width: 100%;
    padding: 0.75rem;
    margin-top: .8rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    box-sizing: border-box;
}
form .btn-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: .5rem;
}
form .btn {
    background-color: teal;
    color: white;
    font-weight: 500;
    font-size: .9rem;
    padding: 0.75rem 1.2rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    background-color: rgb(0, 44, 44);
}

@media (min-width: 640px) {
    .sidebar {
        display: flex;
    }
    .main-content {
        width: 83.333333%;
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 20%;
    }
    .main-content {
        width: 80%;
    }
}